<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBukSQaUn-UsOcKjFQ2FOWk9RE3jE0k_6c</string>
	<key>GCM_SENDER_ID</key>
	<string>277805019089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ona.pps</string>
	<key>PROJECT_ID</key>
	<string>ppsona-979b1</string>
	<key>STORAGE_BUCKET</key>
	<string>ppsona-979b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277805019089:ios:6c7411f6bd04fd7d9dbaf0</string>
</dict>
</plist>